<div class="body">
        <div class="results">
            <div class="three-dots">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="result">152</div>
            <div class="separator"></div>
        </div>
        <div class="grid-container">
            <!-- Grid items -->
            <div class="grid-item">AC</div>
            <div class="grid-item">//</div>
            <div class="grid-item">%</div>
            <div class="grid-item">/</div>
            <div class="grid-item">7</div>
            <div class="grid-item">8</div>
            <div class="grid-item">9</div>
            <div class="grid-item">X</div>
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
            <div class="grid-item">-</div>
            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div>
            <div class="grid-item">+</div>
            <div class="grid-item">0</div>
            <div class="grid-item">.</div>
            <div class="grid-item">cut</div>
            <div class="grid-item">=</div>
          </div>
</div>