<div class="body">
        <div class="results">
            <div class="three-dots">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="result">{{input}}</div>
            <div class="result">{{result}}</div>
            <div class="separator"></div>
        </div>
        <div class="grid-container">
            <!-- Grid items -->
            <div class="grid-item" style="background-color: #6e1616;"  (click)="allClear()">AC</div>
            <div class="grid-item" >//</div>
            <div class="grid-item">%</div>
            <div class="grid-item" (click)="pressOperator('/')">/</div>
            <div class="grid-item" (click)="pressNum('7')">7</div>
            <div class="grid-item" (click)="pressNum('8')">8</div>
            <div class="grid-item" (click)="pressNum('7')">9</div>
            <div class="grid-item" (click)="pressOperator('*')">X</div>
            <div class="grid-item" (click)="pressNum('4')">4</div>
            <div class="grid-item" (click)="pressNum('5')">5</div>
            <div class="grid-item" (click)="pressNum('6')">6</div>
            <div class="grid-item" (click)="pressOperator('-')">-</div>
            <div class="grid-item" (click)="pressNum('1')">1</div>
            <div class="grid-item" (click)="pressNum('2')">2</div>
            <div class="grid-item" (click)="pressNum('3')">3</div>
            <div class="grid-item" (click)="pressOperator('+')">+</div>
            <div class="grid-item" (click)="pressNum('0')">0</div>
            <div class="grid-item"  (click)="pressNum('.')">.</div>
            <div class="grid-item" (click)="clear()">cut</div>
            <div class="grid-item" (click)="getAnswer()">=</div>
          </div>
</div>